<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.scst.system.biz.mapper.SysUserMapper">

    <select id="list" resultType="cn.tycoding.scst.system.api.entity.SysUser">
        select distinct u.id, u.username, u.create_time, u.avatar, u.phone, u.sex, u.status, d.name dept_name
        from sys_user u, sys_dept d
        where u.dept_id = d.id
        <if test="user.username != null and user.username != ''">
            and username like concat ('%', #{user.username}, '%')
        </if>
        <if test="user.deptId != null and user.deptId != 0">
            and dept_id = #{user.deptId}
        </if>
        <if test="user.status != null">
            and status = #{user.status}
        </if>
        order by u.id
    </select>

    <select id="findById" resultType="cn.tycoding.scst.system.api.entity.SysUserWithRole">
        select distinct u.id, u.username, u.create_time, u.avatar, u.phone, u.sex, u.status, u.description, u.dept_id, ur.role_id role_id
        from sys_user u, sys_user_role ur
        where ur.user_id = u.id and u.id = #{id}
    </select>
</mapper>
